extends layout

block extraScripts
  script(src='/js/issues-list.js')
  script
    window.issues = new IssuesList;
    window.issues.reset( !{JSON.stringify(issues)} );


block content
  .issues-view
    h1 You've got Issues!
    .create-form-view
      .toolbar.btn-group
        a.btn.create-link(href="/issues/new") Create new issue
      .create-form-container
    ul.issues-list-view
      each issue, id in issues
        li
          a(href='/issues/' + id)= issue.title
